*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keyCont{   
    width: 300px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin: 50px;
}
.ok{
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
}
.head{
    display: flex;
    gap: 15px;
    font-size: 30px;
    padding-right: 10px;
}
.an{
    display: flex;
    gap: 5px;
    background-image: url(photos/0.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
}
.appp{
    letter-spacing: 18px;
    font-size: 20px;
  }